<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
			
            <link rel= "stylesheet" href=https://bootswatch.com/5/quartz/bootstrap.min.css>
			<link rel="stylesheet" href="css/style.css">
            
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <style>
            .heading {
                text-align:center;

            }
            contact .row{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                text-align: center;
            }

                /* Add the following CSS to apply the background image */

            body {

                background-image: url('https://www.obernai.fr/dynamic/images/au_quotidien/reseaux_et_telecommunications/cac_/fotolia_133383460__sdecoret!_800x480!_3!_0x0!_0!_FFFFFF.jpg');

                background-size: cover;

                background-repeat: no-repeat;

            }
        </style>
        <nav class="cc-navbar navbar navbar-expand-lg navbar-dark position-fixed w-100">
                <div class="container-fluid">
                    <a class="navbar-brand text-uppercase mx-4 py-3 fw-bolder" href="#">FADY CISSE</a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item pe-4">
                                <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                            </li>
                            <li class="nav-item pe-4">
                                <a class="nav-link" href="/moncv">Mon CV</a>
                            </li>
                            <li class="nav-item pe-4">
                                <a class="nav-link" href="/Formulaire">Formulaire</a>
                            </li> 
                            <li class="nav-item pe-4">
                                <a class="nav-link" href="Portfolio ">Portfolio</a>
                            </li>
                            </li>
                        </ul>
                    </div>
                </div>
				
            </nav>
            <br><br><br><br><br><br>



        <section class="contact" id="contact">
            <h1 class="heading"><span>Formulaire</span></h1>

            <div class="row" style="align-item:center;">
                <form action="">

                        <input type="text" placeholder="name" class="box" style="" required>
                    <input type="email" placeholder="email" class="box" required>      

                    <input type="phone" placeholder="phone" class="box" required>
                    <input type="text" placeholder="project" class="box" required
                    >
                    <textarea name="" id="" cols="30" rows="10" class="box message" placeholder="message" required></textarea>
                    <p class="nav-item pe-4">
                        <p class="btn btn-order rounded-0"><button type="submit" class="btn" style="color:black;"><a href="/Fady_CV.pdf" target="_blank" download>Télécharger CV<i class="fas fa-paper-plane"></i></a></button>
 
                    </p>
                </form>

            </div>

        </section>
    </body>
</html>

