<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
			
            <link rel= "stylesheet" href=https://bootswatch.com/5/quartz/bootstrap.min.css>
			<link rel="stylesheet" href="css/style.css">
            
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
	 <style>

            /* Add the following CSS to apply the background image */

            body {

                background-image: url('https://www.computerland.fr/wp-content/uploads/2017/12/Cablage-informatique-cuivre-fibre-optique-et-telecom.jpg');

                background-size: cover;

                background-repeat: no-repeat;

            }
            .circular-image{

  display: flex;

  justify-content: center;

  align-items: center;

  width: 20vh;

  height: 40px;

  clip-path:circle(50% at 50% 50%);

  

}

.image{

  width: 10%;

  height: auto;

  border-radius: 57%;

  -webkit-border-radius: 57%;

  -moz-border-radius: 57%;

  -ms-border-radius: 57%;

  -o-border-radius: 57%;

}
.classfooter{
    width:100%;
    height:100%;
    background-color:black;
}
.navbar{
    padding: 0px;
}

        </style>
	</style>
        <nav class="cc-navbar navbar navbar-expand-lg navbar-dark position-fixed w-100">
                <div class="container-fluid">
                    <a class="navbar-brand text-uppercase mx-4 py-3 fw-bolder" href="#">FADY CISSE</a>
                    <div class="circulaire-image">
                        <img src="image/aissatou.JPG" class="image">
                    </div>
                        </a>

                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item pe-4">
                                <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                            </li>
                            <li class="nav-item pe-4">
                                <a class="nav-link" href="/moncv">Mon CV</a>
                            </li>
                            <li class="nav-item pe-4">
                                <a class="nav-link" href="/Formulaire">Formulaire</a>
                            </li> 
                            <li class="nav-item pe-4">
                                <a class="nav-link" href="Portfolio ">Portfolio</a>
                            </li>
                        </ul>
                    </div>
                </div>
				
            </nav>
            <section class="banner d-flex justify-content-center align-items-center pt-5">
			<div class="container my-5 py-5">
				<div class="row">
					<div class="col-md-6"></div>
					<div class="col-md-6 banner-desc lh-lg">
						<h1 class="text-capitalize py-3 redressed">
							Welcome to my page
                            My name is FADY CISSE I am a student in Networks and telecommunications I am ready to do anything to achieve my goals

 <br />
					    
					
						</h1>
						<p>
		
					</div>
				</div>
			</div>
		</section>

		<section class="available merriweather py-5">
			<div class="container">
				<div class="row">
					<div class="card mb-3 border-0 rounded-0">
						<div class="row">
							<div class="col-md-6">
							<br>
								<img src="/image/fady.JPG"width="50%" height="80%";>
							</div>
							<!DOCTYPE html>
              <html>
                    <head>
                     <title>My PERSONEL INFORMATION</title>
                </head>
                <body>
                <h1>MY PERSONEL INFORMATION</h1>
                <ul>
                <li>Name: CISSE</li>
                <li>First name: FADY</li>
                <li>Ville: Roanne</li>
                <li>Postal code: 42300</li>
                <li>telephone number: 07 74 87 68 44</li>
                <li>E-mail: fadycisse075@gmail.com</li>
                
    </ul>
    <li class="nav-item pe-4">
                                <a class="btn btn-order rounded-0" href="Loisirs">Loisirs</a>
                            </li>
  </body>
</html>

				</div>
				
			  
        {% block body %}{% endblock %}
    </body>
   
</html> 
 <footer>
    <div class="classfooter">
    <p>Protection des données personnelles © Tout droits réservé </p>
    </div>
  </footer>